Source: aiy-board-tools
Maintainer: AIY Projects <support-aiyprojects@google.com>
Build-Depends: debhelper
Section: misc
Priority: optional

Package: aiy-board-tools
Section: misc
Priority: required
Architecture: all
Depends: python3-minimal
Description: Miscellaneous tools to support the AIY Board
