Source: imx-board-tools
Maintainer: AIY Projects <support-aiyprojects@google.com>
Build-Depends: debhelper
Section: misc
Priority: optional

Package: imx-board-tools
Section: misc
Priority: optional
Architecture: all
Depends: gstreamer1.0-plugins-bad,
         gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good,
         python3-gi,
         python3-gst-1.0,
         python3-minimal
         weston-imx
Description: Miscellaneous tools to support the AIY Board
